.body-bg {
    background-color: cornsilk;
    margin: 0px;
}

.intro-table-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.intro-table {
    width: 50%;
    border-spacing: 20px;
}

.intro-heading {
    text-align: left;
}

.profile-img {
    width: 150px;
    border: 25px solid rgb(125, 166, 210);
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    display: block;
    margin: 0 auto;
}

.main-table-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-table {
    width: 100%;
    color: cornsilk;
    border-spacing: 10px;
}

.main-td {
    width: 33%;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border-radius: 30px;
    vertical-align: top;
    background-color: rgb(107, 154, 205);
}

.section-heading {
    font-size: 150%;
    text-align: center;
}

.skills-heading {
    color: rgb(125, 166, 210);
    font-size: 250%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.skills-table-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.skills-table {
    width: 66%;
    border-spacing: 30px;
    color: cornsilk;
}

.skills-td {
    width: 33%;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border-radius: 30px;
    vertical-align: top;
    background-color: rgb(125, 166, 210);
}

.skills-section-heading {
    text-align: center;
}

.footer {
    background-color: rgb(125, 166, 210);
    color: #fff8dc;
    padding: 20px 0;
}

.footer-heading,
.footer-subheading,
.footer-name,
.footer-contact {
    text-align: center;
}

.footer-table-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-table {
    width: 100%;
    align: center;
}

.footer-socials {
    border-radius: 50%;
    width: 40%;
    text-align: center;
}

.footer-icon {
    width: 50px;
    height: 50px;
    margin: 0 5px;
    object-fit: cover;
    border-radius: 50%;
}

.footer-hover-icon {
    width: 50px;
    height: 50px;
    margin: 0 5px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.footer-gitlab {
    width: 60px;
    height: 60px;
    margin: 0 5px;
    object-fit: cover;
    border-radius: 50%;
}

.footer-icon {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
}

.footer-form {
    width: 640px;
    height: 860px;
    border: none;
    margin-top: 10px;
}

.footer-resume {
    font-size: larger;
    width: 20%;
    text-align: center;
}

.footer-resume-frame {
    width: 640px;
    height: 850px;
    border: none;
}

.navbar ul{
    list-style-type: none;
    background-color: #7da6d2;
    padding: 0;
    margin: 0;
    overflow: hidden;
    vertical-align: middle;
}

.navbar a{
    color:cornsilk;
    text-decoration: none;
    padding: 15px;
    display:block;
    text-align: right;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar a:hover {
    background-color: rgb(77, 116, 157);
}

.navbar-logo{
    float: left;
}
.navbar-link{
    float: right;
}